* {
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.618;
	font-weight: 300;
	color: #404143;
}

h1 {
	font-weight: 100;
	font-size: 3em;
	line-height: 1;
	padding-bottom: 0.309em;
}

.padding-2x {
	padding: 2em;
}

.padding-horizontal-2x {
	padding: 0 2em;
}

.pixel {
	transition: box-shadow 0.3s;
}

.dropZone-container {
	display: flex;
	flex-align: stretch;
}

.dropZone {
	width: 250px;
	margin: 1em 1em 1em 0;
	text-align: center;
	border: 2px dashed #ccc;
	padding: 1em;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
}
.dropZone img {
	margin-bottom: 0.5em;
}
.dropZone span {
	width: 100%;
}
.dropZone:hover {
	border-color: #999;
}

.tutorial {
	padding: 1em 0;
}

.code {
	font-family: monaco, monospace;
	font-size: 0.6em;
	line-height: 1.309;
	padding: 2em;
	background: #f0f0f0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}